<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
  <link rel="stylesheet" href="styles/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <h1>You're in Edit Form</h1>
  <form action="/save-book" method="POST">
    <input type ="text" name="image_url" value="<%= book.image_url %>" required>
    <input type ="text" name="title" value="<%= book.title %>" required>
    <input type ="text" name="author" value="<%= book.author %>" required>
    <input type ="text" name="isbn" value="<%= book.isbn %>" required>
    <input type ="text" name="categorie" value="<%= book.categorie %>" required>
    <input type ="text" name="summary" value="<%= book.summary %>" required>
    <input type="submit" value="Add to Database">
  </form>
</body>
</html>