<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Selected Book</title>
</head>
<body>
  <div class="categories">
    <img src="<%= oneBook.image_url %>" />
    <h2>Title: <%= oneBook.title %></h2>
    <p>Author: <%= oneBook.author %></p>
    <p>Category: <%= oneBook.categorie %></p>
    <p>Description: <%=oneBook.summary %></p>
    <p>ISBN: <%= oneBook.isbn %></p>
  </div>
</body>
</html>